article{
    font-size: x-large;
}
li{
    font-size: larger;
}
li1{
    font-size: large;
}
nav{
    text-align: center;
}
table ,th ,td ,tfoot{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    font-size: xx-large;
}
th{
    font-size: xx-large;
}
